# Node (Frontend)
client/node_modules/
client/build/
client/dist/
client/.env
client/.DS_Store
client/.vscode/
client/.idea/

# Spring Boot (Backend)
server/target/
server/out/
server/bin/
server/.env
server/.DS_Store
server/.vscode/
server/.idea/
server/.mvn/
server/.gradle/

# Logs and dependencies
logs/
*.log
npm-debug.log*
yarn-debug.log*
*.iml

# IDE Specific
.idea/
.vscode/

# Miscellaneous
.DS_Store
